.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.buttons-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.timer {
  position: relative;

  p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
