button {
  border: 0;
  background-color: transparent;
  color: #222;
  display: inline-block;
  width: 50px;
}

button.with-text {
  display: flex;
  align-items: center;
  width: auto;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 10px 20px;
  transition: all 500ms ease;
  border-radius: 10px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

button.with-text > span {
  font-size: 0.8rem;
}

button.with-text > svg {
  width: 36px;
}
