$red: #ff7168;
$green: #36c590;

.root {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  text-align: left;
  color: #eee;
}

.slider {
  width: 20rem;
  height: 2.5rem;
  border: 2px solid $red;
  border-radius: 1.25rem;
  margin: 0.625rem 0;
}

.thumb {
  background-color: $red;
  cursor: pointer;
  width: 40px;
  height: 37px;
  border-radius: 1.25rem;
}

.slider.green {
  border-color: $green;
}

.slider.green .thumb {
  background-color: $green;
}

.btn > svg {
  width: 25px;
  margin: 0 0.625rem 0 0;
}

label {
  display: block;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.btn {
  display: flex;
  align-items: center;
  width: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.625rem 1.25rem;
  transition: all 500ms ease;
  border-radius: 0.625rem;
  font-size: 1rem;
  margin: 20px 0 0 0;

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.settings-box {
  background-color: #111;
  color: #eee;
  padding: 2rem;
  border-radius: 3rem;
  display: flex;
  width: 50vw;
  margin: 0 auto;

  @media (max-width: 512px) {
    padding: 1rem;
  }
}

input[name="alarm"] {
  border-radius: 10px 10px 10px 10px;
  font-size: 18px;
  padding: 5px;
  height: 35px;
  width: 10rem;
  margin: 10px 0;

  &::placeholder {
    color: #bbb;
  }
}

.input-base {
  padding: 8px;
  background-color: #eee;
  border-radius: 8px;
  border: none;
  font-size: 1.25rem; 
 
  &:focus {
    outline: none;
  }
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  height: 3rem;
  width: 3rem;
  border: 0;
  cursor: pointer;
  margin: 10px 0;
  background-color: transparent;
}

.colorspicker {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  justify-content: space-around;
}
