$red: #ff7168;
$green: #36c590;

.root {
  width: 60vw;
  height: 100vh;
  padding: 1rem;
  text-align: left;
  color: #eee;
}

.slider {
  width: 20rem;
  height: 2.5rem;
  border: 2px solid $red;
  border-radius: 1.25rem;
  margin: 0.625rem 0;
}

.thumb {
  background-color: $red;
  cursor: pointer;
  width: 40px;
  height: 37px;
  border-radius: 1.25rem;
}

.slider.green {
  border-color: $green;
}

.slider.green .thumb {
  background-color: $green;
}

.btn > svg {
  width: 25px;
  margin: 0 0.625rem 0 0;
}

label {
  display: block;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.btn {
  display: flex;
  align-items: center;
  width: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.625rem 1.25rem;
  transition: all 500ms ease;
  border-radius: 0.625rem;
  font-size: 1rem;
  margin: 20px 0 0 0;

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.settings-box {
  background-color: #222;
  color: #eee;
  padding: 2rem;
  border-radius: 3rem;
  display: flex;
  width: 90vw;

  @media (max-width: 512px) {
    padding: 1rem;
  }
}

.right-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input[name="alarm"] {
  border-radius: 10px 10px 10px 10px;
  font-size: 18px;
  padding: 5px;
  height: 35px;
  width: 10rem;
  margin: 10px 0;

  &::placeholder {
    color: #bbb;
  }
}

.flork-container {
  img {
    width: auto;
    height: 12.5rem;

    @media (max-width: 512px) {
      display: none;
    }
  }
}
